{% extends 'base.html' %}

{% block title %}Young Chow{% endblock %}

{% block content %}
<!-- TO DO: Content for the Young Chow menu page -->





<div class="container text-center py-2">
    <div class="col-12 mb-4">
        <h4 class="text-primary">Young Chow Location</h4>
    </div>
    <div class="col-lg-6 col-md-7 mx-auto">
        <p>520 LEE ENTRANCE # 302, BUFFALO, NY 14228</p>
        <a href="https://maps.app.goo.gl/DoEVueLp3JEYcViT9">Get Directions</a>
    </div>
</div>
{% endblock %}
