{% extends 'base.html' %}

{% block title %}Register - UB Commons Food Guide{% endblock %}

{% block content %}

    <h2 class="text-center mb-4 mt-5">Join Us Today!</h2>

    <form action="{{ url_for('register') }}" method="POST" class="d-flex flex-column align-items-center">
        <!--error if passwords do not match-->
        {% if error %}
        <p style="color:red;">Passwords do not match</p>
        {% endif %}
        
        <!--error if passwords/username is too long-->
        {% if too_long %}
        <p style="color:red;">Invalid username or password. Please ensure you meet the requirements.</p>
        {% endif %}
        <!--error if user exists already-->
        {%if already_an_user %}
        <p style ="color:red;">You're already a user, please login</p>
        {% endif %}
        <div class="mb-3 w-50">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required pattern="[a-zA-Z0-9]+" maxlength="30">
            <small class="form-text text-muted">Username cannot be more than 30 characters. It can contain only letters and numbers.</small>
        </div>
        </div>
        <div class="mb-3 w-50">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required maxlength="30">
            <small class="form-text text-muted">Password must be between 8-30 characters.</small>
        </div>
        <div class="mb-3 w-50"> <!--confirmation password-->
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary w-50">Register</button>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="/login" class="link-primary">Login here</a></p>
    </div>
{% endblock %}
